/* .appheader {
  background-color: #2C3335;
} */

.pimgwrap {
  text-align: center;
}

.pimg {
  display: inline-block;
  height: 300px;
}

.pimg > img {
  margin-right: 5px;
  margin-bottom: 5px;
  height: 300px;
}

@media only screen and (max-width: 426px) {
  .pimg {
    display: inline-block;
    height: 150px;
  }

  .pimg > img {
    margin-right: 2.5px;
    margin-bottom: 2.5px;
    height: 150px;
  }
}

.commentlabel {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  margin-top: 50px;
}
