.root {
  margin: 50px;
  text-align: center;
}

.overide {
  cursor: pointer;
  border: none;
  font-size: 25px;
  background: rgb(255, 213, 61);
  padding: 25px;
  width: 25%;
  transition: .25s;
}

@media only screen and (max-width: 1145px) {
  .overide {
    width: 50%;
  }
}

@media only screen and (max-width: 640px) {
  .overide {
    width: 75%;
  }
}

@media only screen and (max-width: 425px) {
  .overide {
    width: 90%;
  }
}

.overide:hover {
  background: rgb(238, 196, 43);
}

.input {
  /* position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; */
  display: none;
}