.root {
  text-align: center;
}

.overide {
  cursor: pointer;
  border: solid rgba(100, 100, 100) 2.5px;
  padding: 20px;
  border-radius: 50px;
  outline: none;
}

.overide:hover {

}

.input {
  display: none;
}